.button-burger {
    display: block;
    position: relative;
    width: 32px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;

    > span, &:before, &:after {
        position: absolute;
        left: 0;
        width: 28px;
        height: 2px;
        background: #fff;
        border-radius: 4px;
        transition: .4s;
    }

    > span {
        top: 50%;
        transform: translateY(-50%);
    }

    &:before {
        content: '';
        top: 0;
    }

    &:after {
        content: '';
        bottom: 0;
    }
}

.button-icon {
    @include flex-box(center, center);
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    color: $text-color;
    background: transparent;
    border: none;
    cursor: pointer;
}
