@import 'variables';
@import 'mixins';
@import 'buttons';

html,
body {
    height: 100%;
}

body {
    color: $text-color;
    background: #f9f9fa;
}

main {
    padding-top: calc(70px + 2rem);
    padding-bottom: 2rem;
    height: calc(100% - 70px);
}

a {
    text-decoration: none;
    color: $general-color;
}

.container-sm {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;

    @media (min-width: 768px) {
        max-width: 720px;
    }
}
